# Binaries
*.exe
*.dll
*.so
*.dylib
.idea/

# Go workspace
bin/
pkg/

# Terraform state files
*.tfstate
*.tfstate.*

# Others
.DS_Store
.env

.serverless
*.log
npm-debug.log
pids
*.pid
*.seed
dist
lib-cov
coverage
.grunt
.lock-wscript
node_modules
.idea
.tmp
env.js
env.yml
env.json
admin.env
tmp
*.pyc
*.swp
*.swo
vendor
./bin/Debug/netcoreapp2.1/
./bin/release/netcoreapp2.1/